@font-face {
	font-family: "digital-7";
	src: url("./fonts/digital-7\ \(mono\).ttf");
  }
  
  body,
  html {
	background-color: transparent;
  }
  
  .watch {
	font-family: "digital-7", monospace;
	font-size: 2.8rem;
	color: #4af626;
	margin-top: 47%;
	margin-left: 48%;
	max-width: 1.5rem;
  }